UseTab: (VS Code current setting)
IndentWidth: (VS Code current setting)
IndentCaseLabels: false
ColumnLimit: 0
AlignEscapedNewlinesLeft: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: BS_Attach
